<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="jaka_k1_ros2_control" params="name initial_positions_file use_gazebo use_rviz_sim use_isaac_sim">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <!-- Include hardware plugin conditionally if rviz in simulation mode is enabled -->
            <hardware>
              <xacro:if value="${use_gazebo}">
                  <!-- <plugin>gazebo_ros2_control/GazeboSystem</plugin> -->
                  <plugin>ign_ros2_control/IgnitionSystem</plugin>
                  <!-- <plugin>gz_ros2_control/GazeboSimSystem</plugin> -->
              </xacro:if>      
              <xacro:if value="${use_rviz_sim}">
                  <plugin>mock_components/GenericSystem</plugin>
              </xacro:if>        
              <xacro:if value="${use_isaac_sim}">
                <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
                <param name="joint_states_topic">/isaac_joint_states</param>
                <param name="joint_commands_topic">/isaac_joint_commands</param>
              </xacro:if>
            </hardware>

            <!-- Joint interfaces generated for each joint -->
            <joint name="rb1_j1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rb1_j1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rb1_j2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rb1_j2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rb1_j3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rb1_j3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rb1_j4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rb1_j4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rb1_j5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rb1_j5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rb1_j6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rb1_j6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rb1_j7">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rb1_j7']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rb2_j1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rb2_j1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rb2_j2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rb2_j2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rb2_j3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rb2_j3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rb2_j4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rb2_j4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rb2_j5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rb2_j5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rb2_j6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rb2_j6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rb2_j7">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rb2_j7']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
